@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Practice_19_ASP.Models.Contact>

<h2>Contacts</h2>

<table class="table" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Middle Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td><a asp-action="ContactInfo" asp-route-id="@item.Id">@item.Id</a></td>
                <td><a href="@($"StartView/ContactInfo/{@item.Id}")">link</a></td>
                <td>@item.Name</td>
                <td>@item.LastName</td>
                <td>@item.MiddleName</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
