@model Practice_19_ASP.Models.Contact

<h2>@Model.Id</h2>
<p>Name: @Model.Name</p>
<p>LastName: @Model.LastName</p>
<p>MiddleName: @Model.MiddleName</p>
<p>Phone: @Model.Phone</p>
<p>Address: @Model.Address</p>
<p>Description: @Model.Description</p>